<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/head') %> 
</head>
<header><%- include('../partials/header') %> </header>
<body class="container">
    <div class="jumbotron">
        <h1 class="display-3">Jumbo heading</h1>
        <p class="lead">Jumbo helper text</p>
        <hr class="my-2">
        <p>More info</p>
        <% Books.forEach(books => { %>
            <div class="container">
                <div class="row list-row-space">
                    <a href="/book/<%= books.name %>" class="list-group-item list-group-item-action col-10"><%= books.name %> </a>
                </div>
                
            </div>
       
        <% }) %>
    </div>
</body>
<footer>
    <%- include('../partials/footer') %> 
</footer>
</html>