<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/head') %> 
</head>
<header><%- include('../partials/header') %> </header>
<body class="container">
    <div class="jumbotron">
        <h1 class="display-3">Book Details and Download</h1>
        <p class="lead"> <%= Name %> </p>
        <form method="post" action="/book/<%= Name %>">
            <input type="hidden" id="bookId" name="download" value=true >
            <button type="submit">Download!</button>
         </form>
        <hr class="my-2">
        <p>More info</p>
        <i class="fas fa-h2    "> <%=  %> </i>
    </div>
</body>
<footer>
    <%- include('../partials/footer') %> 
</footer>
</html>